/* Navigation */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 280px;
    padding: 3px 50px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}


/* Services Section */
#services{
    flex-direction: column;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    padding: 0px 15px;
    width: 140px
}

/* Contact Us Section */
#contact-box form{
    width: 80%;
}
/* Footer  */

/* Utility Class */
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}